@using XPOS240.ViewModel
@model List<VMTblCoba>?
@{
    ViewData["Title"] = "Home Page";
    string[] colors = new string[]
    {
    "red","Green","Blue"
    };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <table>
    
        <thead>
            <tr>
                    @{
                        for(int i = 0; i < colors.Length; i++)
                        {

                            <th>Column : @i</th>
                        }
                        }
            </tr>

        </thead>
        <tbody>
                <tr>
                    @{
                        for(int i = 0; i < colors.Length; i++)
                        {
                            <td style="background-color:@colors[i]; font-family:  sans-serif; color:white">Color = @colors[i]</td>
                        }
                    }
                    
                </tr>

        </tbody>
    
        </table>

        <hr />
        <table>
            <thead>
                <tr>
        
                <td>Id</td>
                <td>name</td>
                <td>Description</td>
                <td>Create Date</td>
                <td>Update Date</td>
            </tr>
            </thead>
            <tbody>
            @if(Model.Count > 0)
            {
                foreach(VMTblCoba coba in Model)
                {
                    <tr>
                        <td>@coba.id</td>
                        <td>@coba.nama</td>
                        <td>@coba.description</td>
                        <td>@coba.createDate.ToString("dd-MM-yyyy")</td>
                        <td>@coba.updateDate?.ToString("dd-MM-yyyy")</td>
                    </tr>
                }
            }
            </tbody>
</table>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
