@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMVariant?
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frmVariant">

            <div class="card-title row">
                <div class="col-4">Category Name</div>
                <select name="CategoryId" class="form-select">
                    <option value="">--Select Category--</option>
                    @if (ViewBag.Category != null)
                    {
                        foreach (VMTblMCategory category in ViewBag.Category)
                        {
                            if (category.Id == @Model.CategoryId)
                            {
                                <option value="@category.Id" selected>@category.CategoryName</option>
                            }else{
                            <option value="@category.Id">@category.CategoryName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="card-title row">
                <div class="col-4">Variant Name <span class="text-danger"> * </span></div>
                <div class="col-8"><input type="text" class="form-control" name="Name" value="@Model.Name" /></div>
            </div>
            <div class="card-title row">
                <div class="col-4">Description</div>
                <div class="col-8"><input type="text" class="form-control" name="Description" value="@Model.Description" /></div>
            </div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="UpdateBy" value="@Model.CreateBy" />
        </form>




    </div>
    <div class="card-footer d-flex justify-content-end">
        <button type="button" class="btn btn-success" id="btnSave">Save</button>
        &nbsp;
        <button type="reset" class="btn btn-primary" id="btnReset">Reset</button>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");
        $("#btnSave").click(function (e) {
            //debugger
            //console.log("#frmVariant isvalid?", $("#frmVariant").valid());
            if ($("#frmVariant").valid()) {
                $.ajax({
                    url: "/Variant/Edit",
                    type: "post",
                    data: $("#frmVariant").serialize(),
                    dataType: "json",
                    //beforeSend: () => { },
                    success: function (response) {
                        console.log(response);
                        if (response.statusCode == 200 || response.statusCode == 201) {
                            // Tampilkan alert sukses
                            Swal.fire({
                                icon: 'success',
                                title: 'Data Berhasil Di Edit',
                                showConfirmButton: false,
                                timer: 3000 // Show the alert for 2 seconds
                            }).then(() => {
                                location.reload(); // Reload page after alert
                            });
                        } else {
                            alert(response.statusCose + " - " + response.message)
                        }
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                    }
                });
            } else {
                console.error("Variant data is not valid");
            }
            return false;
        });
        $("#frmVariant").submit(function (e) {
            //desable from submit function
            e.preventDefault();




        });
        $("#frmVariant").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 50,
                    minlength: 3
                },
                CategoryId: {
                    required: true,
                }
            },
            messages: {
                Name: {
                    minlength: "Category Name must at least 3 characters long.",
                    maxlength: "Category Name must at least 100 characters long."
                }
            }
        });
        $("#btnReset").click(() => {
            $("#frmVariant")[0].reset();
        });
    });
</script>